{{ 'taxt-fade.css' | asset_url | stylesheet_tag }}
{{ 'taxt-fade.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Text Fade",
  "settings": [],
  "presets": [
    {
      "name": "Text Fade Section",
      "category": "Custom"
    }
  ],
  "blocks": [
    {
      "type": "banner_block",
      "name": "Banner Block",
      "settings": [
        {
          "type": "textarea",
          "label": "Headline",
          "id": "headline",
          "default": "Your Headline"
        },
        {
          "type": "richtext",
          "label": "Paragraph",
          "id": "paragraph",
          "default": "<p>Your paragraph text</p>"
        }
      ]
    }
  ]
}
{% endschema %}

<div id="text-fade-top" class="banner-section">
  <div id="text-fade-container">
    <div id="text-fade-content"><div class="banner-block"></div></div>
  </div>
  <div id="hidden-content">
    {% for block in section.blocks %}
      <div class="banner-block">
        <div class="block-headline" style="opacity:0;visibility:hidden">{{ block.settings.headline }}</div>
        <div class="block-paragraph" style="opacity:0;visibility:hidden">{{ block.settings.paragraph }}</div>
      </div>
    {% endfor %}
  </div>
</div>
