
.our-newsletter-section {
    position: relative;
    margin-bottom: 100px;
}
.our-newsletter-section figure.news-fig {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.our-newsletter-section figure.news-fig img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}
.our-newsletter-section .our-newsletter {
    position: relative;
    padding: 94px 0;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 2fr;
}
.our-newsletter-section .our-newsletter .our-newsletter-title .our-newsletter-icon {
    display: flex;
    gap: 20px; 
}
.our-newsletter-section .our-newsletter .our-newsletter-form {
    background: #2F2F2F;
    padding: 40px;
    width: 564px;
}
.our-newsletter-section .our-newsletter .our-newsletter-title h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -1px;
    margin: 15px  0 0;
}
.our-newsletter-section .our-newsletter .our-newsletter-form form#contact_form {
    max-width: 100%;
}
.our-newsletter-section .our-newsletter .our-newsletter-form form#contact_form .newsletter-form__field-wrapper {
    max-width: 100%;
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field-inner {
    width: 294px;
}
.our-newsletter-section .our-newsletter .our-newsletter-form button#Subscribe {
    position: static;
    width: 125px;
    background: #FF9416;
    height: 125px;
    border-radius: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    font-family: var(--primary-font);
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field {
    gap: 68px;
    border: none;
    align-items: center;
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field::after {
    box-shadow: none;
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field input {
    background: transparent;
    border-bottom: 1px solid #A1A1A1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    font-family: var(--secondary-font);
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field label {
    font-family: var(--secondary-font);
}
.our-newsletter-section .our-newsletter .our-newsletter-form .field p {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 0;
   font-family: var(--secondary-font);
}
.our-newsletter-section .our-newsletter {
    align-items: center;
}
 @media only screen and (max-width: 1366px) {
.our-newsletter-section .our-newsletter .our-newsletter-title h2 {
    font-size: 50px;
    line-height: 70px;
}
   .our-newsletter-section .our-newsletter .our-newsletter-form {
    width: 500px;
}
   .our-newsletter-section .our-newsletter .our-newsletter-form button#Subscribe {
    width: 85px;
    height: 85px;
}
   .our-newsletter-section .our-newsletter .our-newsletter-form .field {
    gap: 15px;
}
   .our-newsletter-section .our-newsletter{padding:50px 0;}
   .our-newsletter-section .our-newsletter .our-newsletter-form button#Subscribe{font-size:16px;}
 }
@media only screen and (max-width: 991px) {
.our-newsletter-section .our-newsletter .our-newsletter-form {
    max-width: 550px;
}
}

@media only screen and (max-width: 991px) {

  .our-newsletter-section .our-newsletter .our-newsletter-form {
    padding: 20px;
    width: auto;
}
  .our-newsletter-section .our-newsletter .our-newsletter-form .field {
        align-items: flex-start;
}
  .our-newsletter-section .our-newsletter .our-newsletter-form .field-inner {
    width: auto;
}
  .our-newsletter-section .our-newsletter .our-newsletter-title h2 {
    font-size: 30px;
    line-height: 45px;

  }
  .our-newsletter-section {
    position: relative;
    margin-bottom: 0px;
}
}

@media only screen and (max-width: 749px) {
  .our-newsletter-section .our-newsletter {
    grid-template-columns: 1fr;
}
  .our-newsletter-section .our-newsletter .our-newsletter-form .field {
    flex-direction: column;
}
  .our-newsletter-section .our-newsletter .our-newsletter-form button#Subscribe {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px;
}
}

@media only screen and (max-width: 575px) {
.our-newsletter-section figure.news-fig img {
    width: 100%;
}
  .main-faq, .our-newsletter-section .our-newsletter {
    padding: 50px 0;
}
}